@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.content {
  position: relative;
  max-width: 750px;
  text-align: center;
}
.content h2 {
  color: #fff;
  font-size: 60px;
}
.content p {
  color: #fff;
  font-size: 18px;
}
.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #1d163b;
}

/*==================== NAV ====================*/

.nav {
  max-width: 968px;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
}

.nav__logo:hover {
  color: #3f8ffc;
}

.nav__btns {
  display: flex;
  align-items: center;
}

.nav__toggle {
  font-size: 2.5rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: #3f8ffc;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: #1d163b;
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.5s;
  }
}

.nav__list {
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 800;
  text-decoration: none;
  padding-top: 1.5rem;
}

.nav__link:hover {
  color: #3f8ffc;
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 0.3rem;
  bottom: 0.5rem;
  font-size: 3.5rem;
  cursor: pointer;
  color: #3f8ffc;
}

.nav__close:hover {
  color: #fff;
}

/* show menu */

.show-menu {
  bottom: 0;
}

/* Active link */

/* Change background header */

.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

.about {
  position: relative;
  width: 100%;
  display: flex;
}
.about .contentBx {
  background: #1d163b;
  width: 50%;
  padding: 100px;
}
h2.heading {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
p.text {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}
.about .imgBx {
  background: url(window.jpg);
  background-size: cover;
  background-position: center;
  width: 50%;
}

.services {
  background: #241080;
  padding: 100px;
  text-align: center;
}
.services .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.services .container .serviceBx {
  position: relative;
  background: #fff;
  border: 3px solid #1b1b1b;
  width: 350px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .container .serviceBx img {
  max-width: 100px;
}
.services .container .serviceBx h2 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}
.technology {
  background: #3f8ffc;
  width: 100%;
  padding: 100px;
  margin-top: -300px;
  padding-top: 300px;
  min-height: 500px;
  padding-top: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.technology .contentBx {
  max-width: 800px;
}
.technology .imgBx img {
  max-width: 250px;
}
.client {
  background: #1d163b;
  padding: 100px;
  text-align: center;
}
.client .imgBx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.client .imgBx img {
  max-width: 200px;
  margin: 20px;
  opacity: 0.25;
  cursor: pointer;
}
.client .imgBx img:hover {
  opacity: 1;
}

.testimonials {
  position: relative;
  padding: 100px;
  background: #241080;
  text-align: center;
}
.testimonials .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
}
.testimonials .container .contentBx {
  background: #fff;
  padding: 60px 50px;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  border: 5px solid #1b1b1b;
}
.testimonials .container .contentBx p {
  font-style: italic;
}
.testimonials .container .contentBx h3 {
  width: 100%;
  text-align: end;
  font-weight: 500;
  color: #153b70;
}
.contact {
  padding: 100px;
  background: #3f8ffc;
  text-align: center;
}
.imgBx2 {
  background: url(bg2.jpeg);
  background-size: cover;
  width: 50%;
}
.redbg {
  background: url(red.jpg) !important;
  background-size: cover;
}
.form .inputBx {
  margin-bottom: 40px;
}
.form .inputBx input {
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  border-bottom: 2px solid #fff;
}
.form .inputBx input::placeholder {
  color: #fff;
}

.form .inputBx textarea {
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 18px;
  min-height: 150px;
  font-weight: 300;
  color: #fff;
  border-bottom: 2px solid #fff;
}
.form .inputBx textarea::placeholder {
  color: #fff;
}
.form .inputBx input[type="submit"] {
  width: 150px;
  background: #fff;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
  color: #111;
  cursor: pointer;
  font-weight: 400;
}
.footer {
  background: #1d163b;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer ul li {
  list-style: none;
}
.footer ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}
.footer ul li a img {
  filter: invert(1);
  max-width: 20px;
}

@media (max-width: 991px) {
  h2.heading {
    font-size: 26px;
  }
  p.text {
    font-size: 15px;
  }
  header {
    padding: 20px 50px;
  }
  .banner {
    padding: 50px;
  }
  .banner h2 {
    font-size: 36px;
  }
  .banner p {
    font-size: 16px;
  }
  .about {
    flex-direction: column;
  }
  .about .contentBx,
  .about .imgBx {
    padding: 50px;
    width: 100%;
    min-height: 400px;
    text-align: center;
  }
  .services {
    padding: 50px;
  }
  .services .container {
    justify-content: center;
    margin-top: 20px;
  }
  .services .container .serviceBx {
    margin: 20px;
  }
  .services .container .serviceBx {
    position: relative;
    background: #fff;
    width: 300px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .technology {
    padding: 50px;
    padding-top: 300px;
    justify-content: center;
    flex-direction: column;
  }
  .technology .imgBx img {
    margin-top: 40px;
    max-width: 250px;
  }
  .client {
    padding: 50px;
  }
  .client .imgBx {
    justify-content: center;
  }
  .testimonials {
    padding: 50px;
  }
  .testimonials .container .contentBx {
    padding: 60px 40px;
    max-width: 550px;
    margin-bottom: 40px;
  }
  .testimonials .container .contentBx:last-child {
    margin-bottom: 0;
  }
  .contact {
    padding: 50px;
  }
  .footer {
    padding: 20px 50px;
    flex-direction: column-reverse;
    text-align: center;
  }
  .footer ul {
    margin-bottom: 20px;
  }
}

/* For small devices */

@media screen and (max-width: 360px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav__list {
    column-gap: 0;
  }
}

@media screen and (min-width: 360px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav__list {
    column-gap: 0;
  }
}

@media screen and (min-width: 768px) {
  .header {
    top: 0;
    bottom: initial;
  }
  .header {
    padding: 0 1rem;
  }
  .nav {
    height: calc(3rem + 1.5rem);
    column-gap: 2rem;
  }
  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    column-gap: 3rem;
  }
  .nav__menu {
    margin-left: auto;
  }
}

/* For large devices */

@media screen and (min-width: 768px) {
  .header {
    padding: 0.5rem;
  }
}
